.header {
	background: rgb(0, 122, 230);
}
ul.hr {
    margin-left: 0; /* Обнуляем значение отступов */
    padding: 5px; /* Значение полей */
    background: rgb(255,255,255);
    border: 1px solid black;
    border-radius: 3px;
}
ul.hr li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 36px; /* Отступ слева */
    padding: 10px; /* Поля вокруг текста */
}
.col-fst {
	 margin-top: 10px;
	 max-width: 97px;
	 max-height: 97px; 
}
.col-scnd {
	color: white;
}
.col-thr{
	color: white;
	font-size: 28;
}
.btns {
	display: inline; 
}
.b1 {
	width: 47%;
	min-height: 50px;
	background: rgb(150, 186, 251);
	border: none;
	margin-right: 30px;
	color: white;
	margin-bottom: 10px;
	border-radius: 2px;
}
.b2 {
	width: 47%;
	min-height: 50px;
	background: rgb(150, 186, 251);
	border: none;
	color: white;	
	margin-bottom: 10px;
	border-radius: 2px;
}
.adress {
 margin: 0 auto;
}
.container {
	width: 90%; 
}
.picTablets {
	width: 100%;
	margin-top: -40px;

}
.main {
	background: rgb(230, 230, 230);
	padding-top: 40px;
	height: 100%;
}
.rov {
	display: flex;
	justify-content: space-between;
}
.mein {
	text-shadow: black 0, 0, 2px;
}
.FormMain {
	color: white;
	font-size: 37;
 	background: rgb(0, 122, 230);
 	padding: 10px;
 	max-width: 70%;
 	margin: 0px auto;
 	text-align: center;
 	margin-bottom: 40px;
 	border-radius: 2px;
}
.Form {
	margin: 0 auto;
	padding-left: 250px;
	padding-right: 250px;
} 
.head {
	background: rgb(0, 122, 230);
	color: white;
}
.DB {
	min-width: 1110px;
	text-align: center;
}
.in {
	width: 100%;
	margin-top: -10px; 
	margin-bottom: 0px;
}
.radioBtn {
	display: inline;
	margin-left: -170px;
}
.btnDone {
	width: 60%;
	min-height: 50px;
	background: rgb(0, 122, 230);
	border: none;
	color: white;
	margin-bottom: 30px;
	margin-top: 30px;
	border-radius: 2px;
}
.btnChs {
	margin-top: -10px;
	background: rgb(0, 122, 230);
	border: none;
	border-radius: 2px;
	min-width: 90px;
	color: white;
}
.numb {
	padding: 30px;
}
